body {
  margin: 0px;
}

#caixanavbar {
  margin-top: 80px; 
  background-color: rgb(8, 69, 201) !important;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
  color: #ffffff !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.navbar-brand:hover, .nav-link:hover {
  color: #e5e5e5 !important;
}
#caixatabela {
  background-color: #f58427;
  margin-top: 200px !important;
  position: static !important;
  padding: 20px; 
  border-radius: 8px;
}

#titulotabela {
  color: #ffffff !important; 
  font-size: 28px;
  font-weight: bold;
}


.table th, .table td {
  vertical-align: middle !important;
}

#img-thumbnail {
  object-fit: cover;
}

#logo_senai {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: rgb(8, 69, 201) !important;
}

#body_home {
  background-image: url(/static/fundohomesenai.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#caixanavbar .navbar-brand, 
#caixanavbar .nav-link, 
#caixanavbar .dropdown-toggle {
    color: #ffffff !important;
}

#caixanavbar .navbar-toggler-icon {
    filter: invert(1);
}


.table .btn {
  white-space: nowrap;
}

#logo_senai {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 250px;
  height: auto;
  z-index: 10;
}
