body {
  margin: 0px;
  background-color: #f8f9fa;
}

#fundohomesenai {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

#caixanavbar {
  margin-top: 80px; 
  background-color: rgb(8, 69, 201) !important;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#caixatabela {
  background-color: #f58427;
  position: relative;
  padding: 20px; 
  border-radius: 8px;
  max-width: 1000px; 
  top: 0px;
  margin-top: 0px;
}

#titulotabela {
  color: #ffffff !important; 
  font-size: 28px;
  font-weight: bold;
}

#logo_senai {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 250px;
  height: auto;
  z-index: 10;
}


.navbar-brand, .nav-link {
    color: white !important;
}

.bg-body-tertiary {
  background-color: rgb(8, 69, 201) !important;
}