<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/stylehome.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body id='body_home'> 
  
    <div class="container mt-3">
        <img id='logo_senai' src='static/logo_senai.png' alt="Logo SENAI">
    </div>
    
   <nav id="caixanavbar" class="navbar navbar-expand-lg bg-body-tertiary mt-3 container">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Voltar</a>
        <a class="navbar-brand" href="/movimentacoes">Movimentações</a>

        <!-- ADICIONE ESTAS 3 LINHAS ABAIXO -->
        {% if papel == 'admin' %}
            <a class="navbar-brand" href="/cadastrarusuario">Cadastrar Usuário</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div id="caixatabela" class="container mt-4">

      <div class="d-flex justify-content-between align-items-center mb-5">
          <h2 id="titulotabela" class="m-0 text-secondary">Últimos Produtos</h2>
          <a href="/cadastrarnovoitem" class="btn btn-light fw-bold text-dark px-4 shadow-sm">Cadastrar Novo Item</a>
      </div>
  
      <div class="table-responsive bg-white rounded shadow-sm">
          <table class="table table-hover align-middle mb-0 text-center"> 
              <thead class="table-light border-bottom">
                  <tr>
                      <th scope="col" id="idcabecalho" class="py-3">ID</th>
                      <th scope="col" id="produtocabecalho" class="py-3">Produto</th>
                      <th scope="col" id="quantidadecabecalho" class="py-3">Quantidade</th>
                      <th scope="col" id="descricaocabecalho" class="py-3 text-start">Descrição</th>
                      <th scope="col" id="descricaocabecalho" class="py-3 text-start">Preço</th>
                      <th scope="col" id="descricaocabecalho" class="py-3 text-start">Estoque Minimo</th>
                      <th scope="col" id="descricaocabecalho" class="py-3 text-start">Categoria</th>
                      <th scope="col" id="imagemcabecalho" class="py-3">Imagem</th>
                     
                  </tr>
              </thead>
              <tbody>

                {% for item in resultado %}
                  <tr id="linha1">
                      <td id="idproduto1" class="fw-bold text-muted">{{item[0]}}</td>
                      <td id="nomeproduto1">{{item[1]}}</td>
                      <td id="quantidade1"><span class="badge bg-secondary">{{item[4]}} un</span></td>
                      <td id="descricao1" class="text-muted text-wrap text-start" style="max-width: 300px;">{{item[3]}}</td>
                      <td id="preco" class="text-muted text-wrap text-start" style="max-width: 300px;">{{item[5]}}</td>
                      <td id="estoque_min" class="text-muted text-wrap text-start" style="max-width: 300px;">{{item[7]}}</td>
                      <td id="categoria" class="text-muted text-wrap text-start" style="max-width: 300px;">{{item[2]}}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-primary" onclick="mostrar_imagem('{{item[6]}}')">Foto</button>
                      </td>
                      
                  </tr>
                {%endfor%}
              </tbody>
          </table>
      </div>
  
  </div>

<script>
    function mostrar_imagem(argumento){
        Swal.fire({
          imageUrl: argumento,
        });
    }
</script>
</body>
</html>